<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/static/faq.css" />
    <title>FAQ|PhishGuardian</title>
  </head>
  <body>
    <div class="container">
      <h1>Frequently Asked Questions?</h1>
      <div class="tab">
        <input type="radio" name="acc" id="acc1" />
        <label for="acc1">
          <h2>01</h2>
          <h3>How do I apply?</h3>
        </label>
        <div class="content">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius
            eligendi labore, architecto quos, nemo dolor sapiente nobis illo
            consequuntur, mollitia voluptate saepe iusto minus aliquam aut
            dolore debitis reiciendis aperiam?
          </p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" name="acc" id="acc2" />
        <label for="acc2">
          <h2>02</h2>
          <h3>How do I apply?</h3>
        </label>
        <div class="content">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius
            eligendi labore, architecto quos, nemo dolor sapiente nobis illo
            consequuntur, mollitia voluptate saepe iusto minus aliquam aut
            dolore debitis reiciendis aperiam?
          </p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" name="acc" id="acc3" />
        <label for="acc3">
          <h2>03</h2>
          <h3>How do I apply?</h3>
        </label>
        <div class="content">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius
            eligendi labore, architecto quos, nemo dolor sapiente nobis illo
            consequuntur, mollitia voluptate saepe iusto minus aliquam aut
            dolore debitis reiciendis aperiam?
          </p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" name="acc" id="acc4" />
        <label for="acc4">
          <h2>04</h2>
          <h3>How do I apply?</h3>
        </label>
        <div class="content">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius
            eligendi labore, architecto quos, nemo dolor sapiente nobis illo
            consequuntur, mollitia voluptate saepe iusto minus aliquam aut
            dolore debitis reiciendis aperiam?
          </p>
        </div>
      </div>
      <div class="sign-in">
        <a href="/" class="hover-link secondary-btn"
          >Go to Home</a
        >
      </div>
    </div>
  </body>
</html>
